<ng-container *kbmLayoutHeaderTitle>
    <div class="page-title">
        Dashboard
    </div>
</ng-container>
<div class="list">
    <kbm-search [formControl]="searchUsersControl" appSearch [searchFields]="usersSearchFields" [items]='users'
        (filterEvent)='filterUsers($event)'></kbm-search>
    <kbm-list [data]="filteredUsers" [metadata]="usersFieldsMetadata" (sort)="sortUsersData($event)"></kbm-list>
</div>

<div class="list">
    <kbm-search [formControl]="searchTenantsControl" appSearch [searchFields]="tenanciesSearchFields"
        [items]='tenancies' (filterEvent)='filterTenancies($event)'></kbm-search>
    <kbm-list [data]="filteredTenancies" [metadata]="tenanciesFieldsMetadata"
        (sort)="sortTenanciesData($event)"></kbm-list>
</div>