<div [style.marginLeft]="margin+'px'">
    <ng-container *ngFor="let navigationItem of navigationItems">
        <div class="list-item">
            <mat-list-item [kbmActiveRoute]="getNavigationRoute(navigationItem)"
                [class]="navigationItem.matListItemExtraClass?.join(' ') +' pointer'"
                (click)="navigationItem.action($event)">
                <div class="item">
                    <img class="item-img" [src]="navigationItem.icon">
                    <div class="item-txt" mat-line *ngIf="open">{{navigationItem.txt}}</div>
    
                </div>
            </mat-list-item>
            <div class="show" *ngIf="navigationItem.children.length > 0" (click)="showItems($event)">
                <span *ngIf="show">hide</span>
                <span *ngIf="!show">show</span>
            </div>
        </div>
        <kbm-side-item *ngIf="show" [navigationItems]="navigationItem.children" [margin]="margin + 10"
            [open]="open"></kbm-side-item>
    </ng-container>
</div>