@import './assets/styles/utils';
@import './assets/styles/variables';
@import './assets/styles/table.scss';
@import './assets/styles/titles.scss';
* {
  font-family: 'Poppins' !important;
  font-size: 16px;
}

html,
body {
  height: 100%;
}
