/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: #153254;
    --main-bg-color: #F0F3F8;
    --sub-main-color: #28486D;
    --light-color: #8BA3BE;
    --list-border-color: #D8E0EE;
  }